.header {
	display: flex;
	padding: 36px 90px 36px 36px;
	justify-content: space-between;
	align-items: center;
}

.header__hamburger {
	font-size: 24px;
	cursor: pointer;
	border-radius: 50%;
	transition: background 0.3s ease;
	&:hover {
		background: var(--input-border-color);
	}
}

.header__data {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.header__logo {
	width: 114px;
	display: flex;

	> img {
		width: 100%;
	}
}

.header__search {
	width: 1293px;
	display: flex;
	align-items: center;
	position: relative;
	> .icon {
		position: absolute;
		font-size: 16px;
	}
	> input {
		border: none;
		background: transparent;
		color: var(--text-color);
		position: relative;
		width: 100%;
		padding: 14px 30px;
		border-bottom: 1px solid var(--input-border-color);
		&::placeholder {
			color: var(--text-color);
			font-size: 16px;
			line-height: 18px;
		}
	}
}

.header__logout {
	cursor: pointer;
	border: 1px solid var(--text-color);
	height: 40px;
	border-radius: 50%;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: border 0.3s ease;
	> svg {
		font-size: 18px;
		transition: color 0.3s ease;
	}

	&:hover {
		border: 1px solid var(--input-border-color);
		> svg {
			color: var(--input-border-color);
		}
	}
}
