@font-face {
	font-family: 'StratosSkyEng';
	src: url('~fonts/StratosSkyeng.otf');
	src: url('~fonts/StratosSkyeng.woff2') format('woff2'),
		url('~fonts/StratosSkyeng.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}
